<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testngScripts">

	<test name="test1">
		<classes>
			<class name="testngScripts.Demo1"></class>
			<class name="testngScripts.Demo3"></class>
		</classes>
	</test>

	<test name="test2">
		<classes>
			<class name="testngScripts.Demo2"></class>
			<class name="testngScripts.Demo4"></class>
		</classes>
	</test>

</suite>
